<!DOCTYPE HTML>
<html>
<head>
<title>CitySense | About</title>
<meta charset="utf-8">

<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style_IR.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style-desktop1.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/5grid/core2.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/5grid/core-desktop.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/5grid/core-noscript.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/5grid/core-1200px.css') }}" />

<script src="css/5grid/jquery.js"></script>

</head>
<body class="subpage">
<!-- Header -->
<div id="header-wrapper">
  <header id="header" class="5grid-layout">
    <div class="row">
      <div class="12u">
        <!-- Logo -->
        <h1 class="mobileUI-site-name"><a href="#">CitySense</a></h1>
        <!-- <h1 class="mobileUI-site-name"><a href="#">Halcyonic</a></h1> -->
        <!-- Nav -->
        <nav class="mobileUI-site-nav"> <a href=home>Homepage</a> <a href=about>About</a> </nav>
        <!-- <nav class="mobileUI-site-nav"> <a href="index.html">Homepage</a> <a href="threecolumn.html">Three Column</a> <a href="twocolumn1.html">Two Column #1</a> <a href="twocolumn2.html">Two Column #2</a> <a href="onecolumn.html">One Column</a> </nav> -->
      </div>
    </div>
  </header>
</div>
<!-- Content -->
<div id="content-wrapper">
  <div id="content">
    <div class="5grid-layout">
      <div class="row">
        <div class="3u">
          <!-- Left Sidebar -->
          <section>
            <header>
              <hh4>About Me</hh4>
            </header>
            <a href="#" class="bordered-feature-image"><img src="{{ url_for('static', filename='images/Profile.png') }}" alt=""></a>

            <p2>Hi! I’m Sydney Decoto and I’m a data scientist in the Seattle area. After seven years of working in the aerospace industry, I decided I’m more into the data side of things so I made a career change. CitySense is my capstone project from the Galvanize Data Science Immersive program.<br /><br /></p2>
            <p2>When I’m not data science-ing, you can find me out for a run, painting, or puzzling over how on earth to remodel my house.<br /><br /></p2>
            <p2>If you’re interested in contacting me or checking out my other work, please find me on linkedin or github.<br /><br /></p2>
            <ul class="link-list">
              <li><a href="https://github.com/SydneyLauren" >github.com/SydneyLauren</a><br/><br/></li>
              <li><a href="https://www.linkedin.com/in/sydney-decoto" >linkedin.com/in/sydney-decoto</a></li>
            </ul>
          </section>
        </div>
        <div class="9u mobileUI-main-content">
          <!-- Main Content -->
          <section>
            <header>
              <hh4>About the Model</hh4>
            </header>
            <p2> CitySense is a natural language processing project that uses online travel reviews, articles, and blog posts about cities in Europe.
              <br/><br/><strong>Business Question</strong><br/><br/>
              The problem that I’m interested in solving is how to discern the personality of a city, based on first person reviews and blog posts that
              are available online. It’s pretty easy to find out the best places to stay or eat in a new city, but it can be hard to know what the ambiance will be
              like, or how you’ll feel when you’re actually there.
              <br/><br/> Data Preparation <br/><br/>
              For this project, I focused on doing natural language processing over trip advisor reviews and Rick Steves blog posts and articles. I scraped 72,000 total
               reviews and posts for about 200 cities in Europe, and then went through many iterations of exploratory data analysis, trying different stop words criteria,
               and KMeans clustering on my data. I used scikit-learn’s TfidfVectorizer and cosine similarity to create my model, and then deployed it as a web app.<br/><br/>
               <a href="#" class="bordered-feature-image"><img src="{{ url_for('static', filename='images/Project_Pipeline.png') }}" alt=""></a>
               Modeling <br/><br/>
               In order to distill the corpus down to the most useful words I tagged each word by its part of speech and then decided on upper and lower bounding criteria
               for the most common parts of speech in terms of both document frequency and term frequency. Next, I chose 15 different personalities based on what I
               was seeing in my text and leveraging traits that showed up in personality profiles such as Myers Briggs. The text were vectorized using scikit-learn's
               TfidfVectorizer, and then I used cosine similarity to find the cities that best
                matched the different personality types.
              <br/><br/> Evaluation <br/><br/>
              There isn't a straightforward mathematical way to evaluate how well my model is doing. I created a survey including a subset of the cities in my
              dataset and used that to get feedback from people who had been to those cities. I'm continually trying to improve my model, so I welcome any and all feedback.
              If you'd like to discuss this project with me, please don't hesitate to reach out to me on linked in - I'd love to hear from you!
            </p2>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>
